<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Instagram</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.jpg" type="image/x-icon">
</head> 
<body>  
    <div class="container">
        <div class="center">
            <div class="center1">
                <div class="logo">
                    <img src="../static/img/insta logo.png" alt="" srcset="">
                </div>
                <div class="afterlogo">
                    <div class='fb' class="form">
                        <form action="">
                            <label for="text">
                                <span id="stext">Phone number,username,or email</span> 
                                <input  class='text' type="text" id="text" placeholder="Phone number,username,or email">
                            </label>
                            <div class="show">
                                <label for="pass">

                                    <span id="spass">password</span>
                                    <input type="password" id="pass" placeholder="Passowrd">
                                </label>
                                  <button type="button" id="show">show</button>
                                  <button type="button" id="Hide">Hide</button>

                                </div>

                            <button type="submit" id="btn" disabled>Log In</button>
                        </form>
                        <div class="or">
                            <hr>
                            OR
                            <hr>
                        </div>
                        <div class="fblogo">
                                <a id="span" href="https://www.instagram.com/accounts/login/" target="_self" class="fa fa-facebook"></a>
                                <span><a href="https://www.instagram.com/accounts/login/" target="_self" id="face"> Log in with Facebook </a></span>
                            
                            
                        </div>
                        <div class="forget">
                            <a href="https://www.instagram.com/accounts/password/reset/" target="_self"> Forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="center2">
                    <span> Don't have an account?</span>
                    <a href="https://www.instagram.com/accounts/emailsignup/" target="_self">Sign up</a>
                </div>
            </div>
            <div class="app">
                <p>Get the app</p> 
                <div class="img">
                    <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo" target="_blank"><img src="../static/img/apple.png" alt="" srcset="" ></a>
                   <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=E7D987FA-03E8-48A1-BFCD-E5EF29411C84&utm_content=lo&utm_medium=badge" target="_blank"> <img src="../static/img/playstore.png" alt="" srcset=""></a>
                    
                </div>
            </div>
            
        <div class="footer">
            <div class="footer1">
                <a href="https://about.instagram.com/" target="_blank">About</a>
                <a href="https://about.instagram.com/en_US/blog" target="_blank">Blog</a>
                <a href="https://about.instagram.com/about-us/careers" target="_blank">Jobs</a>
                <a href="https://help.instagram.com/" target="_blank">Help</a>
                <a href="https://www.instagram.com/developer/" target="_blank">API</a>
                <a href="https://help.instagram.com/519522125107875" target="_blank">Privacy</a>
                <a href="https://help.instagram.com/581066165581870" target="_blank">Terms</a>
                <a href="https://www.instagram.com/directory/profiles/" target="_blank">Top Accounts</a>
                <a href="https://www.instagram.com/directory/hashtags/" target="_blank">Hashtags</a>
                <a href="https://www.instagram.com/explore/locations/" target="_blank">Locations</a>
            </div>
            <div class="footer2">
            <a href="#">English</a>
            <p>&copy2021 Instagram from Facebook</p>
        </div>
            <div class="footer3"></div>
        </div>
    </div>
        </div>

</body>
<script src="../static/index.js"></script>
</html>